node_modules
*.log*
.nuxt
.nitro
.cache
.output
.env
.env.*
dist
.DS_Store
.vercel

*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

*.app
*.exe
*.war

.nuxt
.vercel
pnpm-lock.yaml
# Sentry Config File
.env.sentry-build-plugin
.git
.claude.env.vercel
.env.vercel
.data/
