@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {

  /* latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1ZL7W0Q5nw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1ZL7W0Q5nw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1ZL7W0Q5nw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin */
  @font-face {
    font-family: 'Permanent Marker';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/permanentmarker/v16/Fh4uPib9Iyv2ucM6pGQMWimMp004La2Cf5b6jlg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  html {
    width: 100%;
    overflow-x: hidden;
    &.lock {
      overflow: hidden;
    }
  }

  body {
    overflow-x: hidden;
    color: #000;
  }

  .embed {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
  }

  .embed iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  em {
    font-family: Permanent Marker, sans-serif;
    font-weight: normal;
    font-size: 1.333333em;
    line-height: 0.5;
    position: relative;
    top: 3px;
  }

  .prose {
    em {
      font-family: inherit;
      font-size: inherit;
      line-height: inherit;
      position: inherit;
      top: inherit;
    }
    &--dark {
      --tw-prose-body: #000;
    }
  }

  mark,
  ::selection,
  .prose a:hover,
  .faq__a a:hover {
    background: rgba(193, 199, 246, 0.4);
  }

  .prose {
    --tw-prose-bullets: #111827;
    @apply max-w-full;
    ul {
      @apply !my-1;
    }
    em {
      top: 1px;
      padding-right: 3px;
      padding-left: 1px;
    }

    table {
      thead {
        @apply font-bold;
      }
      td {
        @apply px-2;      
      }
    }

  }

  .p-reset {
    p:first-of-type {
      @apply mt-0;
    }
  }

  .inter-bold {
    font-family: 'Inter', sans-serif!important;
    font-weight: 700!important;
  }

  .font-marker {
    font-family: 'Permanent Marker', cursive!important;
  }

  .tabs {
    @apply rounded-md text-xs sm:text-sm md:text-base;
  }

  .tabs-buttons {
    @apply flex space-x-2 mb-2 p-1 rounded text-xs sm:text-sm md:text-base;
    button {
      @apply py-2 px-3 rounded bg-[#E8E8E8] font-bold transition;
      &[aria-selected="true"] {
        @apply bg-blue;
      }
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    @apply hidden;
  }

  .btn {
    @apply cursor-pointer text-grey-dark rounded-full px-4 min-w-[80px] pt-[0.65rem] pb-3 md:px-6 md:py-3 text-base md:text-lg font-bold inline-block text-center;
  }

  .btn-large {
    @apply px-6 py-3 md:px-8 md:py-4 text-lg md:text-xl;
  }

  .btn-small {
    @apply font-normal px-3 py-2 md:px-4 md:py-2;
  }

  .btn-blue {
    @apply bg-blue;
  }

  .btn-purple-dark {
    @apply bg-purple-dark text-white;
  }

  .btn-purple {
    @apply bg-purple;
  }

  .btn-grey {
    @apply bg-grey-dark text-white;
  }

  .btn-yellow {
    @apply bg-yellow;
  }

  .btn-yellow-dark   {
    @apply bg-yellow-dark text-white;
  }

  .btn-pink {
    @apply bg-[#d782d3];
  }

  .btn-hover {
    @apply transition-all transition-[600ms] hover:shadow-md hover:translate-y-[-2px] active:translate-y-0 active:shadow-none;
  }

}